{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mask-index.css' %}"/>
{% endblock %}
{% block content %}
<h1>All Masks</h1>
<section class='card-container'>
    {% for mask in masks %}
    <div class="card shadow p-3 mb-5" style="width: 18rem;">
        <a style='text-decoration: none; color: whitesmoke;' href="{% url 'masks_detail' mask.id %}">
            <div class="card-img-container">
                {% if mask.photo.url %}
                <img 
                    src="{{mask.photo.url}}" 
                    alt="A photo of {{mask.name}}"
                    class="usr-img"
                    >
                {% else %}
                <img 
                    src="{% static '' %}" 
                    alt="No photo uploaded"
                    >
                {% endif %}
            </div>
            <h2 class="card-title">{{ mask.name }}</h2>
        </a>
    </div>
    {% endfor %}
</section>
{% endblock %}