{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}
{% block content %}
<div class="page-header">
<h1>Create a new Save File</h1>
</div>
<section class="card-container">
<form action="" method="post" class="card shadow p-3 mb-5">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit" class="btn btn-secondary">Submit!</button>
</form>
</section>
{% endblock %}