{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

{% if not user.is_authenticated %}
  <section>
    <div class="card text-white bg-dark border-danger mb-3" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="Majoras Mask Image">
      <form action="{% url 'home' %}" method="post" class="card-body text-danger">
        <h1 class='card-title'>Login</h1>
        <div class='card-text'>
          {% csrf_token %}
          {{ form.as_p }}
          <input type="hidden" name="next" value="{{ next }}">
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
        </div>
    </div>
  </section>
{% endif %}

{% endblock %}