@font-face {
  font-family: HyliaSerifBeta-Regular;
  src: url('../font/HyliaSerifBeta-Regular.otf')
  format('opentype')
}

.card {
  background-color: black;
  /* color: whitesmoke;
  font-family: HyliaSerifBeta-Regular; */
  width: 80%;
  border-color: whitesmoke;
  border-radius: 10px;
  border-width: 5px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 85%;
}

.mask-icon {
  width: 10%;
}

body {
  background-image: url('../images/smoothwood.png');
  background-position: center;
  color: whitesmoke;
  font-family: HyliaSerifBeta-Regular;
  text-decoration: none;
}

section {
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
}



