.card {
  background-color: cornflowerblue;
  width: 80%;
  border-color: red;
  border-radius: 10px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mask-icon {
  width: 25%;
}

