.card {
  background-color: black;
  color: whitesmoke;
  width: 80%;
  border-color: whitesmoke;
  border-radius: 10px;
  border-width: 5px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 85%;
}

.mask-icon {
  width: 10%;
}

body {
  background-image: url('../images/smoothwood.png');
  background-position: center;
  color: whitesmoke;
}

