body {
  /* background-image: url('../images/tiles.png'); */
  background-position: center;
  font-family: hylia;
  color: whitesmoke;
  font-family: HyliaSerifBeta-Regular;
  font-weight: lighter;
}

.card {
  background-color: black;
  /* color: whitesmoke;
  font-family: HyliaSerifBeta-Regular; */
  width: 80%;
  border-color: whitesmoke;
  border-radius: 10px;
  border-width: 5px;
}