section {
  width: 100%;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-container {
  width: 55%;
  margin-top: -5%;
}

body {
  background-color: black;
}

input {
  background-color: black;
  border-color: red;
  color: white
}

.btn {
  color: black;
}

h1 {
  color: red;
}
