.card {
  background-color: grey;
  width: 275px;
  margin: 10px;
  border-color: black;
  border-radius: 10px;
  border-width: 5px;
  box-shadow: black;
}

.card-container {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 93%;
}

body {
  background-image: url('../images/hdbrick.png');
  background-position: center;
  color: whitesmoke;
}